<div id="heading">
    <a href="/home/index">Home</a> <a href="https://docs.google.com/document/d/11eorTSFoyTShaZlh9kUCtOeR4Je7WpJZji_dqIuKDw8/edit?usp=sharing">Contact Me</a> <a target="_blank" href="https://gallaghercareer.github.io/portfolio-2025">Portfolio</a>
</div>
