
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}
    .tooltip:hover .tooltiptext {
    visibility: visible;
}

    html {
    height: 100vh;
}
* {
   
    box-sizing: border-box;
}

#img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}


/* 
.mainbody {
    background-color: #F1F0F0;
} */

body {
    margin-top: 0;
    padding-top: 0;
    background-color: #f8f8f8;
}


#heading {
    top: 0;
    grid-area: head;
    background-color: #7D8B93;
    font-size: 3.5rem;
    color: white;
    position: -webkit-sticky; 
    position: sticky;
}

    #heading a {
        color: #f0f0f0;
        margin-left: 4rem;
    }

#tablediv {
    margin-top: 3rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    padding: 2rem;
    border-radius: 2px;
}

#buttonadd {
    margin-top:3rem;
    margin-bottom:0px;
    border-radius: 10px;
    background-color: #FFAA5C;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#buttonadd a {
    font-size:3rem;
}
#buttonlink {
    width: 100%;
    color:white;
}
a:link {
    text-decoration: none;
  
}

a:hover {
    text-decoration:none;
}

#viewticketid a {
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    margin-top: 3rem;
}

#viewtickettable {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}


#commenttable {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;   
}

#viewticketid {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#instructions{
    max-width: 400px;
    
}

#commenttableform {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*addticket form*/
.myclass {
    margin-top: 2rem;
  
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    background-color: #DBDBDB;
}

#insideaddticket {
text-align:center; 
margin: auto;
width: 50%;

}

#loginf {
    margin: auto;
}

#newcommentscreen {
    margin: auto;
    width: 50%;
}
